<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="BpmSmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
		<to value="hquintero@lafise.com" />
		<from value="notificacionesbpm@lafise.com" />
		<subject value="Error en Emisión de tarejtas intantaneas" />
		<smtpHost value="10.11.40.57" />
		<port value="25" />
		<bufferSize value="1" />
		<lossy value="false" />
		<threshold value="ERROR" />
		<layout type="log4net.Layout.PatternLayout,log4net">
			<conversionPattern value="ERROR EN AMBIENTE PRODUCCION EMIRD%newline  %property{log4net:HostName} | %level | %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
		</layout>
	</appender>
	
	<appender name="BizAgiWSLogger" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionString value="data source=ni-cfl-bpm-04d;initial catalog=Logger;User ID=LOGGER;Password=LOGGER" />
		<commandText value="INSERT INTO LogACJ([Date],[Thread],[Level],[Logger],[Message],[Exception],[IdTipoTransaccion],[Numero],[IdServicio]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @tipo, @numero, @servicio)" />
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
		<parameter>
			<parameterName value="@tipo" />
			<dbType value="Int32" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{tipo}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@numero" />
			<dbType value="String" />
			<size value="25" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{numero}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@servicio" />
			<dbType value="Int32" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{servicio}" />
			</layout>
		</parameter>
	</appender>

	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="Logs/" />
		<datePattern value="'BIZEMIRD_'yyyyMMdd'.log'" />
		<appendToFile value="true" />
		<rollingStyle value="Date"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<maxSizeRollBackups value="100" />
		<maximumFileSize value="15MB"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date  * %level * %newline%message%newline%exception"/>
		</layout>
	</appender>


	<logger name="BizAgiWSLogger" additivity="False">
		<level value="ALL" />
		<appender-ref ref="BizAgiWSLogger" />
	</logger>
	<logger name="BpmSmtpAppender" additivity="False">
		<level value="ERROR" />
		<appender-ref ref="BpmSmtpAppender" />
	</logger>
	<logger name="LogFileAppender" additivity="False">
		<level value="WARN" />
		<appender-ref ref="LogFileAppender" />
	</logger>
</log4net>